/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: yellow; 
    font-size: 0.8rem;
    font-family: Arial, Helvetica;
    padding: 0%;
    margin: 0%;
}

.entete{
    background-color: darkgoldenrod;
    padding: 10px;
}
.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: gold;
}
.colonne_contenu {
    background-color: burlywood;
    margin: 10px;
}
.pieddepage{
    background-color: lightgray;
}
.title, .slogan
{
    font-size: 0.8rem;
    color: orangered;
}
.slogan
{
    font-style: italic;
}
.pieddepage
{
    background-color: brown;
    color: chocolate;
    text-align: center;
    line-height: 50px;
}
h1
{
    background-color: brown;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid coral;
}
h2
{
    color: azure;
    font-size: 30px;
    margin: 20px;
    font-variant: small-caps;
}
strong
{
    color: purple;
    font-weight: unset;
}
em
{
    color: blueviolet;
}
.introduction
{
    font-style: italic;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}
a
{
    font-weight: 700;
}
a:hover
{
    color: green;
    text-decoration: none;
}
.colonnes, .colonne_menu
{
    background-color: azure;
}
.colonne_menu ul
{
    margin: 0%;
    padding: 0%;
}
.colonne_menu li 
{
    list-style-type: none;
    background-color: antiquewhite;
    text-align: center;
    margin: 5px;
}
.colonne_menu li:hover
{
background-color: cornsilk;
}
.colonne_menu a
{
    color: red;
    text-decoration: none;
}
.colonne_menu a
{
    display: block;
    padding: 5px;
}